
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Libros"><app-books></app-books>
        <button mat-raised-button color="primary" routerLink="/new-book">
            <mat-icon>add</mat-icon>
            Agregar Libro
        </button></mat-tab>
    <mat-tab label="Lectores"><app-readers></app-readers>
        <button mat-raised-button color="primary" routerLink="/new-reader">
            <mat-icon>add</mat-icon>
            Agregar Lector
        </button></mat-tab>
</mat-tab-group>