<form [formGroup]="formBook" (ngSubmit)="addBook()" >
    <mat-form-field floatLabel="auto" color="primary" appearance="fill">
        <mat-label>Nombre del libro</mat-label>
        <input matInput required value={{book.nombreLibro}} formControlName="nombreLibro">
        <mat-hint>El libro tiene que tener un nombre</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="auto" color="primary" appearance="fill">
        <mat-label>Género</mat-label>
        <input matInput required value={{book.genero}} formControlName="genero">
        <mat-hint>Comedia, drama...</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="auto" color="primary" appearance="fill">
        <mat-label>Editorial</mat-label>
        <input matInput required value={{book.editorial}} formControlName="editorial">
        <mat-hint>Editorial del libro</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="auto" color="primary" appearance="fill">
        <mat-label>Año</mat-label>
        <input matInput required value={{book.anyo}} formControlName="anyo">
        <mat-hint>Año de la edición</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="auto" color="primary" appearance="fill">
        <mat-label>Nombre del Autor</mat-label>
        <input matInput required value={{book.autor}} formControlName="autor">
        <mat-hint>Autor del libro</mat-hint>
    </mat-form-field>
    <mat-form-field floatLabel="auto" color="primary" appearance="fill">
        <mat-label>Número de copias</mat-label>
        <input matInput required value={{book.numeroCopias}} formControlName="numeroCopias">
        <mat-hint>Número de libros iguales</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Crear Libro</button>
</form>